<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyan Color Palette</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bg-cyan-50 { background-color: #ebfeff; }
        .bg-cyan-60 { background-color: #cededf; }
        .bg-cyan-70 { background-color: #b1bfc0; }
        .bg-cyan-80 { background-color: #96a2a2; }
        .bg-cyan-90 { background-color: #7b8585; }
        .bg-cyan-100 { background-color: #cdfafe; }
        .bg-cyan-110 { background-color: #b4dbde; }
        .bg-cyan-120 { background-color: #9bbdbf; }
        .bg-cyan-130 { background-color: #849fa2; }
        .bg-cyan-140 { background-color: #6d8385; }
        .bg-cyan-150 { background-color: #566769; }
        .bg-cyan-200 { background-color: #a6f3fc; }
        .bg-cyan-210 { background-color: #92d5dd; }
        .bg-cyan-220 { background-color: #7fb7be; }
        .bg-cyan-230 { background-color: #6c9ba0; }
        .bg-cyan-240 { background-color: #5a7f84; }
        .bg-cyan-250 { background-color: #486568; }
        .bg-cyan-300 { background-color: #67e8f9; }
        .bg-cyan-310 { background-color: #5dcbda; }
        .bg-cyan-320 { background-color: #52afbc; }
        .bg-cyan-330 { background-color: #48949e; }
        .bg-cyan-340 { background-color: #3d7a82; }
        .bg-cyan-350 { background-color: #336167; }
        .bg-cyan-400 { background-color: #20d3ee; }
        .bg-cyan-410 { background-color: #25b9d0; }
        .bg-cyan-420 { background-color: #27a0b4; }
        .bg-cyan-430 { background-color: #278798; }
        .bg-cyan-440 { background-color: #25707d; }
        .bg-cyan-450 { background-color: #225963; }
        .bg-cyan-500 { background-color: #07b6d5; }
        .bg-cyan-510 { background-color: #16a0bb; }
        .bg-cyan-520 { background-color: #1c8aa1; }
        .bg-cyan-530 { background-color: #1f7588; }
        .bg-cyan-540 { background-color: #1f6170; }
        .bg-cyan-550 { background-color: #1d4e59; }
        .bg-cyan-600 { background-color: #088eaf; }
        .bg-cyan-610 { background-color: #137d9a; }
        .bg-cyan-620 { background-color: #186d85; }
        .bg-cyan-630 { background-color: #1a5d71; }
        .bg-cyan-640 { background-color: #1a4d5e; }
        .bg-cyan-650 { background-color: #193e4b; }
        .bg-cyan-700 { background-color: #0e7490; }
        .bg-cyan-710 { background-color: #14677f; }
        .bg-cyan-720 { background-color: #17596e; }
        .bg-cyan-730 { background-color: #184d5e; }
        .bg-cyan-740 { background-color: #17404e; }
        .bg-cyan-750 { background-color: #16343f; }
        .bg-cyan-800 { background-color: #155f75; }
        .bg-cyan-810 { background-color: #175467; }
        .bg-cyan-820 { background-color: #174a5a; }
        .bg-cyan-830 { background-color: #17404d; }
        .bg-cyan-840 { background-color: #163641; }
        .bg-cyan-850 { background-color: #152c34; }
        .bg-cyan-900 { background-color: #164f64; }
        .bg-cyan-910 { background-color: #174659; }
        .bg-cyan-920 { background-color: #163e4e; }
        .bg-cyan-930 { background-color: #163643; }
        .bg-cyan-940 { background-color: #152d38; }
        .bg-cyan-950 { background-color: #083344; }
        .bg-cyan-960 { background-color: #0b2e3d; }
        .bg-cyan-970 { background-color: #0d1a21; }
        .bg-cyan-980 { background-color: #0b161b; }
        .bg-cyan-990 { background-color: #071014; }
        .bg-cyan-1000 { background-color: #04090c; }
    </style>
    
    
    
    
    
    
    
    
    
    
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-4">cyan Color Palette</h1>
        <div class="grid grid-cols-5 gap-4">

            <div class="bg-cyan-50 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-50 border border-gray-300"></div>
                    <p>cyan 50</p>
                </div>
            </div>

            <div class="bg-cyan-60 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-60 border border-gray-300"></div>
                    <p>cyan 60</p>
                </div>
            </div>

            <div class="bg-cyan-70 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-70 border border-gray-300"></div>
                    <p>cyan 70</p>
                </div>
            </div>

            <div class="bg-cyan-80 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-80 border border-gray-300"></div>
                    <p>cyan 80</p>
                </div>
            </div>

            <div class="bg-cyan-90 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-90 border border-gray-300"></div>
                    <p>cyan 90</p>
                </div>
            </div>

            <div class="bg-cyan-100 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-100 border border-gray-300"></div>
                    <p>cyan 100</p>
                </div>
            </div>

            <div class="bg-cyan-110 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-110 border border-gray-300"></div>
                    <p>cyan 110</p>
                </div>
            </div>

            <div class="bg-cyan-120 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-120 border border-gray-300"></div>
                    <p>cyan 120</p>
                </div>
            </div>

            <div class="bg-cyan-130 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-130 border border-gray-300"></div>
                    <p>cyan 130</p>
                </div>
            </div>

            <div class="bg-cyan-140 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-140 border border-gray-300"></div>
                    <p>cyan 140</p>
                </div>
            </div>

            <div class="bg-cyan-150 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-150 border border-gray-300"></div>
                    <p>cyan 150</p>
                </div>
            </div>

            <div class="bg-cyan-200 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-200 border border-gray-300"></div>
                    <p>cyan 200</p>
                </div>
            </div>

            <div class="bg-cyan-210 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-210 border border-gray-300"></div>
                    <p>cyan 210</p>
                </div>
            </div>

            <div class="bg-cyan-220 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-220 border border-gray-300"></div>
                    <p>cyan 220</p>
                </div>
            </div>

            <div class="bg-cyan-230 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-230 border border-gray-300"></div>
                    <p>cyan 230</p>
                </div>
            </div>

            <div class="bg-cyan-240 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-240 border border-gray-300"></div>
                    <p>cyan 240</p>
                </div>
            </div>

            <div class="bg-cyan-250 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-250 border border-gray-300"></div>
                    <p>cyan 250</p>
                </div>
            </div>

            <div class="bg-cyan-300 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-310 border border-gray-300"></div>
                    <p>cyan 300</p>
                </div>
            </div>

            <div class="bg-cyan-310 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-340 border border-gray-300"></div>
                    <p>cyan 310</p>
                </div>
            </div>

            <div class="bg-cyan-320 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-370 border border-gray-300"></div>
                    <p>cyan 320</p>
                </div>
            </div>

            <div class="bg-cyan-330 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-400 border border-gray-300"></div>
                    <p>cyan 330</p>
                </div>
            </div>

            <div class="bg-cyan-340 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-430 border border-gray-300"></div>
                    <p>cyan 340</p>
                </div>
            </div>

            <div class="bg-cyan-350 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-460 border border-gray-300"></div>
                    <p>cyan 350</p>
                </div>
            </div>

            <div class="bg-cyan-400 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-400 border border-gray-300"></div>
                    <p>cyan 400</p>
                </div>
            </div>

            <div class="bg-cyan-410 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-430 border border-gray-300"></div>
                    <p>cyan 410</p>
                </div>
            </div>

            <div class="bg-cyan-420 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-460 border border-gray-300"></div>
                    <p>cyan 420</p>
                </div>
            </div>

            <div class="bg-cyan-430 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-490 border border-gray-300"></div>
                    <p>cyan 430</p>
                </div>
            </div>

            <div class="bg-cyan-440 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-520 border border-gray-300"></div>
                    <p>cyan 440</p>
                </div>
            </div>

            <div class="bg-cyan-450 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-550 border border-gray-300"></div>
                    <p>cyan 450</p>
                </div>
            </div>

            <div class="bg-cyan-500 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-520 border border-gray-300"></div>
                    <p>cyan 500</p>
                </div>
            </div>

            <div class="bg-cyan-510 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-510 border border-gray-300"></div>
                    <p>cyan 510</p>
                </div>
            </div>

            <div class="bg-cyan-520 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-520 border border-gray-300"></div>
                    <p>cyan 520</p>
                </div>
            </div>

            <div class="bg-cyan-530 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-530 border border-gray-300"></div>
                    <p>cyan 530</p>
                </div>
            </div>

            <div class="bg-cyan-540 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-540 border border-gray-300"></div>
                    <p>cyan 540</p>
                </div>
            </div>

            <div class="bg-cyan-550 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-550 border border-gray-300"></div>
                    <p>cyan 550</p>
                </div>
            </div>

            <div class="bg-cyan-600 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-610 border border-gray-300"></div>
                    <p>cyan 600</p>
                </div>
            </div>

            <div class="bg-cyan-610 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-610 border border-gray-300"></div>
                    <p>cyan 610</p>
                </div>
            </div>

            <div class="bg-cyan-620 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-620 border border-gray-300"></div>
                    <p>cyan 620</p>
                </div>
            </div>

            <div class="bg-cyan-630 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-630 border border-gray-300"></div>
                    <p>cyan 630</p>
                </div>
            </div>

            <div class="bg-cyan-640 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-640 border border-gray-300"></div>
                    <p>cyan 640</p>
                </div>
            </div>

            <div class="bg-cyan-650 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-650 border border-gray-300"></div>
                    <p>cyan 650</p>
                </div>
            </div>

            <div class="bg-cyan-700 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-700 border border-gray-300"></div>
                    <p>cyan 700</p>
                </div>
            </div>

            <div class="bg-cyan-710 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-710 border border-gray-300"></div>
                    <p>cyan 710</p>
                </div>
            </div>

            <div class="bg-cyan-720 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-720 border border-gray-300"></div>
                    <p>cyan 720</p>
                </div>
            </div>

            <div class="bg-cyan-730 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-730 border border-gray-300"></div>
                    <p>cyan 730</p>
                </div>
            </div>

            <div class="bg-cyan-740 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-740 border border-gray-300"></div>
                    <p>cyan 740</p>
                </div>
            </div>

            <div class="bg-cyan-750 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-750 border border-gray-300"></div>
                    <p>cyan 750</p>
                </div>
            </div>

            <div class="bg-cyan-800 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-820 border border-gray-300"></div>
                    <p>cyan 800</p>
                </div>
            </div>

            <div class="bg-cyan-810 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-810 border border-gray-300"></div>
                    <p>cyan 810</p>
                </div>
            </div>

            <div class="bg-cyan-820 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-820 border border-gray-300"></div>
                    <p>cyan 820</p>
                </div>
            </div>

            <div class="bg-cyan-830 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-830 border border-gray-300"></div>
                    <p>cyan 830</p>
                </div>
            </div>

            <div class="bg-cyan-840 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-840 border border-gray-300"></div>
                    <p>cyan 840</p>
                </div>
            </div>

            <div class="bg-cyan-850 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-850 border border-gray-300"></div>
                    <p>cyan 850</p>
                </div>
            </div>

            <div class="bg-cyan-900 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-910 border border-gray-300"></div>
                    <p>cyan 900</p>
                </div>
            </div>

            <div class="bg-cyan-910 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-910 border border-gray-300"></div>
                    <p>cyan 910</p>
                </div>
            </div>

            <div class="bg-cyan-920 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-920 border border-gray-300"></div>
                    <p>cyan 920</p>
                </div>
            </div>

            <div class="bg-cyan-930 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-930 border border-gray-300"></div>
                    <p>cyan 930</p>
                </div>
            </div>

            <div class="bg-cyan-940 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-940 border border-gray-300"></div>
                    <p>cyan 940</p>
                </div>
            </div>

            <div class="bg-cyan-950 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-950 border border-gray-300"></div>
                    <p>cyan 950</p>
                </div>
            </div>

            <div class="bg-cyan-960 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-960 border border-gray-300"></div>
                    <p>cyan 960</p>
                </div>
            </div>

            <div class="bg-cyan-970 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-970 border border-gray-300"></div>
                    <p>cyan 970</p>
                </div>
            </div>

            <div class="bg-cyan-980 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-980 border border-gray-300"></div>
                    <p>cyan 980</p>
                </div>
            </div>

            <div class="bg-cyan-990 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-990 border border-gray-300"></div>
                    <p>cyan 990</p>
                </div>
            </div>

            <div class="bg-cyan-1000 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-cyan-1000 border border-gray-300"></div>
                    <p>cyan 1000</p>
                </div>
            </div>

    </div>
</body>
</html>
