<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>green Color Palette</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bg-green-50 { background-color: #f2fdf5; }
        .bg-green-60 { background-color: #d4ddd7; }
        .bg-green-70 { background-color: #b7bfb9; }
        .bg-green-80 { background-color: #9aa19c; }
        .bg-green-90 { background-color: #7f8480; }
        .bg-green-100 { background-color: #646865; }
        .bg-green-110 { background-color: #c3ddcc; }
        .bg-green-120 { background-color: #a8beb0; }
        .bg-green-130 { background-color: #8ea095; }
        .bg-green-140 { background-color: #75847a; }
        .bg-green-150 { background-color: #5d6861; }
        .bg-green-200 { background-color: #bbf7d0; }
        .bg-green-210 { background-color: #a4d8b6; }
        .bg-green-220 { background-color: #8eba9e; }
        .bg-green-230 { background-color: #799d85; }
        .bg-green-240 { background-color: #64816e; }
        .bg-green-250 { background-color: #506657; }
        .bg-green-300 { background-color: #85efac; }
        .bg-green-310 { background-color: #76d197; }
        .bg-green-320 { background-color: #67b583; }
        .bg-green-330 { background-color: #58986f; }
        .bg-green-340 { background-color: #4a7d5c; }
        .bg-green-350 { background-color: #3c634a; }
        .bg-green-400 { background-color: #4ade80; }
        .bg-green-410 { background-color: #44c371; }
        .bg-green-420 { background-color: #3ea863; }
        .bg-green-430 { background-color: #378e54; }
        .bg-green-440 { background-color: #307546; }
        .bg-green-450 { background-color: #295d39; }
        .bg-green-500 { background-color: #21c45d; }
        .bg-green-510 { background-color: #24ac53; }
        .bg-green-520 { background-color: #249549; }
        .bg-green-530 { background-color: #237e3f; }
        .bg-green-540 { background-color: #226835; }
        .bg-green-550 { background-color: #1e532c; }
        .bg-green-600 { background-color: #16a249; }
        .bg-green-610 { background-color: #1a8f41; }
        .bg-green-620 { background-color: #1c7c3a; }
        .bg-green-630 { background-color: #1d6932; }
        .bg-green-640 { background-color: #1c572b; }
        .bg-green-650 { background-color: #1a4624; }
        .bg-green-700 { background-color: #157f3c; }
        .bg-green-710 { background-color: #187036; }
        .bg-green-720 { background-color: #196230; }
        .bg-green-730 { background-color: #19542a; }
        .bg-green-740 { background-color: #184624; }
        .bg-green-750 { background-color: #16391f; }
        .bg-green-800 { background-color: #166434; }
        .bg-green-810 { background-color: #17592f; }
        .bg-green-820 { background-color: #174e2a; }
        .bg-green-830 { background-color: #164325; }
        .bg-green-840 { background-color: #153820; }
        .bg-green-850 { background-color: #142e1b; }
        .bg-green-900 { background-color: #14522d; }
        .bg-green-910 { background-color: #144929; }
        .bg-green-920 { background-color: #144025; }
        .bg-green-930 { background-color: #143820; }
        .bg-green-940 { background-color: #132f1c; }
        .bg-green-950 { background-color: #052e16; }
        .bg-green-960 { background-color: #072a15; }
        .bg-green-970 { background-color: #082513; }
        .bg-green-980 { background-color: #061509; }
        .bg-green-990 { background-color: #040f06; }
        .bg-green-1000 { background-color: #020803; }
    </style>
    
    
    
    
    
    
    
    
    
    
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-4">green Color Palette</h1>
        <div class="grid grid-cols-5 gap-4">

            <div class="bg-green-50 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-50 border border-gray-300"></div>
                    <p>green 50</p>
                </div>
            </div>

            <div class="bg-green-60 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-60 border border-gray-300"></div>
                    <p>green 60</p>
                </div>
            </div>

            <div class="bg-green-70 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-70 border border-gray-300"></div>
                    <p>green 70</p>
                </div>
            </div>

            <div class="bg-green-80 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-80 border border-gray-300"></div>
                    <p>green 80</p>
                </div>
            </div>

            <div class="bg-green-90 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-90 border border-gray-300"></div>
                    <p>green 90</p>
                </div>
            </div>

            <div class="bg-green-100 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-100 border border-gray-300"></div>
                    <p>green 100</p>
                </div>
            </div>

            <div class="bg-green-110 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-110 border border-gray-300"></div>
                    <p>green 110</p>
                </div>
            </div>

            <div class="bg-green-120 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-120 border border-gray-300"></div>
                    <p>green 120</p>
                </div>
            </div>

            <div class="bg-green-130 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-130 border border-gray-300"></div>
                    <p>green 130</p>
                </div>
            </div>

            <div class="bg-green-140 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-140 border border-gray-300"></div>
                    <p>green 140</p>
                </div>
            </div>

            <div class="bg-green-150 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-150 border border-gray-300"></div>
                    <p>green 150</p>
                </div>
            </div>

            <div class="bg-green-200 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-200 border border-gray-300"></div>
                    <p>green 200</p>
                </div>
            </div>

            <div class="bg-green-210 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-210 border border-gray-300"></div>
                    <p>green 210</p>
                </div>
            </div>

            <div class="bg-green-220 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-220 border border-gray-300"></div>
                    <p>green 220</p>
                </div>
            </div>

            <div class="bg-green-230 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-230 border border-gray-300"></div>
                    <p>green 230</p>
                </div>
            </div>

            <div class="bg-green-240 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-240 border border-gray-300"></div>
                    <p>green 240</p>
                </div>
            </div>

            <div class="bg-green-250 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-250 border border-gray-300"></div>
                    <p>green 250</p>
                </div>
            </div>

            <div class="bg-green-300 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-310 border border-gray-300"></div>
                    <p>green 300</p>
                </div>
            </div>

            <div class="bg-green-310 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-340 border border-gray-300"></div>
                    <p>green 310</p>
                </div>
            </div>

            <div class="bg-green-320 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-370 border border-gray-300"></div>
                    <p>green 320</p>
                </div>
            </div>

            <div class="bg-green-330 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-400 border border-gray-300"></div>
                    <p>green 330</p>
                </div>
            </div>

            <div class="bg-green-340 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-430 border border-gray-300"></div>
                    <p>green 340</p>
                </div>
            </div>

            <div class="bg-green-350 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-460 border border-gray-300"></div>
                    <p>green 350</p>
                </div>
            </div>

            <div class="bg-green-400 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-400 border border-gray-300"></div>
                    <p>green 400</p>
                </div>
            </div>

            <div class="bg-green-410 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-430 border border-gray-300"></div>
                    <p>green 410</p>
                </div>
            </div>

            <div class="bg-green-420 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-460 border border-gray-300"></div>
                    <p>green 420</p>
                </div>
            </div>

            <div class="bg-green-430 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-490 border border-gray-300"></div>
                    <p>green 430</p>
                </div>
            </div>

            <div class="bg-green-440 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-520 border border-gray-300"></div>
                    <p>green 440</p>
                </div>
            </div>

            <div class="bg-green-450 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-550 border border-gray-300"></div>
                    <p>green 450</p>
                </div>
            </div>

            <div class="bg-green-500 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-520 border border-gray-300"></div>
                    <p>green 500</p>
                </div>
            </div>

            <div class="bg-green-510 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-510 border border-gray-300"></div>
                    <p>green 510</p>
                </div>
            </div>

            <div class="bg-green-520 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-520 border border-gray-300"></div>
                    <p>green 520</p>
                </div>
            </div>

            <div class="bg-green-530 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-530 border border-gray-300"></div>
                    <p>green 530</p>
                </div>
            </div>

            <div class="bg-green-540 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-540 border border-gray-300"></div>
                    <p>green 540</p>
                </div>
            </div>

            <div class="bg-green-550 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-550 border border-gray-300"></div>
                    <p>green 550</p>
                </div>
            </div>

            <div class="bg-green-600 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-610 border border-gray-300"></div>
                    <p>green 600</p>
                </div>
            </div>

            <div class="bg-green-610 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-610 border border-gray-300"></div>
                    <p>green 610</p>
                </div>
            </div>

            <div class="bg-green-620 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-620 border border-gray-300"></div>
                    <p>green 620</p>
                </div>
            </div>

            <div class="bg-green-630 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-630 border border-gray-300"></div>
                    <p>green 630</p>
                </div>
            </div>

            <div class="bg-green-640 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-640 border border-gray-300"></div>
                    <p>green 640</p>
                </div>
            </div>

            <div class="bg-green-650 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-650 border border-gray-300"></div>
                    <p>green 650</p>
                </div>
            </div>

            <div class="bg-green-700 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-700 border border-gray-300"></div>
                    <p>green 700</p>
                </div>
            </div>

            <div class="bg-green-710 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-710 border border-gray-300"></div>
                    <p>green 710</p>
                </div>
            </div>

            <div class="bg-green-720 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-720 border border-gray-300"></div>
                    <p>green 720</p>
                </div>
            </div>

            <div class="bg-green-730 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-730 border border-gray-300"></div>
                    <p>green 730</p>
                </div>
            </div>

            <div class="bg-green-740 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-740 border border-gray-300"></div>
                    <p>green 740</p>
                </div>
            </div>

            <div class="bg-green-750 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-750 border border-gray-300"></div>
                    <p>green 750</p>
                </div>
            </div>

            <div class="bg-green-800 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-820 border border-gray-300"></div>
                    <p>green 800</p>
                </div>
            </div>

            <div class="bg-green-810 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-810 border border-gray-300"></div>
                    <p>green 810</p>
                </div>
            </div>

            <div class="bg-green-820 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-820 border border-gray-300"></div>
                    <p>green 820</p>
                </div>
            </div>

            <div class="bg-green-830 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-830 border border-gray-300"></div>
                    <p>green 830</p>
                </div>
            </div>

            <div class="bg-green-840 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-840 border border-gray-300"></div>
                    <p>green 840</p>
                </div>
            </div>

            <div class="bg-green-850 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-850 border border-gray-300"></div>
                    <p>green 850</p>
                </div>
            </div>

            <div class="bg-green-900 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-910 border border-gray-300"></div>
                    <p>green 900</p>
                </div>
            </div>

            <div class="bg-green-910 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-910 border border-gray-300"></div>
                    <p>green 910</p>
                </div>
            </div>

            <div class="bg-green-920 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-920 border border-gray-300"></div>
                    <p>green 920</p>
                </div>
            </div>

            <div class="bg-green-930 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-930 border border-gray-300"></div>
                    <p>green 930</p>
                </div>
            </div>

            <div class="bg-green-940 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-940 border border-gray-300"></div>
                    <p>green 940</p>
                </div>
            </div>

            <div class="bg-green-950 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-950 border border-gray-300"></div>
                    <p>green 950</p>
                </div>
            </div>

            <div class="bg-green-960 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-960 border border-gray-300"></div>
                    <p>green 960</p>
                </div>
            </div>

            <div class="bg-green-970 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-970 border border-gray-300"></div>
                    <p>green 970</p>
                </div>
            </div>

            <div class="bg-green-980 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-980 border border-gray-300"></div>
                    <p>green 980</p>
                </div>
            </div>

            <div class="bg-green-990 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-990 border border-gray-300"></div>
                    <p>green 990</p>
                </div>
            </div>

            <div class="bg-green-1000 h-24 flex items-center justify-center text-xs text-gray-800">
                <div>
                    <div class="w-16 h-16 mb-2 bg-green-1000 border border-gray-300"></div>
                    <p>green 1000</p>
                </div>
            </div>

    </div>
</body>
</html>